@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           </div>
    </section>
}
<br>

    <div id="welcome">
        <h3 class="frett1">Welcome</h3>
        <h4 class="dags1">7.5.2013</h4>
        <p> Welcome to the ISIC Database web.......</p>
    </div>
<br>
    <div id="welcome">
        <h3 class="frett2">New Data</h3>
        <h4 class="dags2">6.9.2013</h4>

        New views
        @Html.ActionLink("Dog", "Index", "Dog")
        @Html.ActionLink("Color", "Index", "Color")
        @Html.ActionLink("Litter", "Index", "Litter")
        <br/>
        New form - still under contruction.
        @Html.ActionLink("RegisterDog", "Index", "RegisterDog")

        <ul>

        <h3>Admin</h3> 
         @if (Roles.IsUserInRole("Administrator"))
         {
             
             @Html.ActionLink("Register dogs", "Create", "Litter")
             @Html.ActionLink("Users", "Users", "Home")
         }
         </ul>
        <p>.....
        </p>
    </div>
    