@model PagedList.IPagedList<ISIC_DATA.Models.Dog>
@using PagedList.Mvc; 
@using BootstrapSupport;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home";
}

    <section id ="carousel">
       <div class="row">
           <div class="span12 columns">
               <div id ="myCarousel" class="carousel slide">
                   <div class="carousel-inner">
                       <div class="item active">
                           <img src="~/HomePhotos/6.jpg" >                        
                        </div>
                        <div class="item">
                            <img src="~/HomePhotos/5.jpg" >                               
                        </div>
                       <div class="item">
                            <img src="~/HomePhotos/3.jpg" >                              
                        </div>
                       <div class="item">
                            <img src="~/HomePhotos/1.jpg" >                                
                       </div>
                       <div class="item">
                            <img src="~/HomePhotos/2.jpg" >                                
                       </div>
                       <div class="item">
                            <img src="~/HomePhotos/4.jpg" >                                
                       </div>
                       <div class="item">
                            <img src="~/HomePhotos/7.jpg" >                               
                        </div>
                        <div class="item">
                            <img src="~/HomePhotos/8.jpg" >                               
                        </div>

                   </div>
                   <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                   <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
               </div>
            </div>
       </div>
        <script type='text/javascript'>

            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 4000
                })

            });

        </script>
  </section>
		
<div class="container-fluid containerLeftMargin">	
<div class="row-fluid">
		
    <div class="thumbnails">
		<div class="span4">
			<div class="thumbnail">
               <div class="ThumbnailPopularDogs">
                   <img src="/HomePhotos/4.jpg" alt="ALT NAME" class="img-rounded  pull-left " style ='margin-right:10px'> 
                     <div class="caption">
                         <h3> Registered Dogs </h3>
                         <p>  Click on this button below to get the whole database of registered
                             dogs, where you can search for special names or registration numbers or just browse.
                         </p><br />
			             <a class="btn" href="Dog">Go to the list of registered dogs»</a><br />
                   </div>
               </div> 
             </div>
         </div>

        <div class="span4">
            <h2>
				NEW IMPORT FINISHED! :)
			</h2>
            <h3>
				The ISIC database
			</h3>
              <ul class="countList">
                <li>@ViewBag.numberOfDogs dogs are registered in the database.</li>
                <li>@ViewBag.numberOfDogsIceland born in Iceland.</li>
                <li>@ViewBag.numberOfDogsGermany born in Germany.</li>
                <li>@ViewBag.numberOfDogsHolland born in Holland.</li>
                <li>@ViewBag.numberOfDogsUSA born in USA.</li>
                <li>@ViewBag.numberOfDogsFinland born in Finland</li>
                <li>@ViewBag.numberOfDogsNorway born in Norway.</li>
                <li>@ViewBag.numberOfDogsSweden born in Sweden.</li>
                <li>@ViewBag.numberOfDogsDenmark born in Denmark.</li>
                <li>@ViewBag.numberOfDogsAustria born in Austria.</li>
			</ul>
		</div>
				
        <div class="span4">
           <div class="thumbnail">
               <div class="ThumbnailPopularDogs">
                   <img src="/Photos/IS0887505.jpg" alt="ALT NAME" class="img-rounded  pull-left " style ='margin-right:10px'> 
                   
                        @* Still to do: needs to be dynamic, not hardcoded*@
                         <div class="caption">
                         <h3><br /> Popular Dogs </h3>
                         
				         <p>  Kersins Garpur - IS08875/05</p><br />
			             <a class="btn" href="Dog/Details/6700">Details about this dog»</a><br />
                            <p>This database is the collection of the registered Icelandic Sheepdogs from all 10 countries that are members of ISIC. 
                            It gives the opportunity for breeders to test mates for their dogs and calculate inbreeding. <br /><br />
                            For all others this website should help to enjoy and appreciate the Icelandic breed of an exceptional friendly, 
                            extremly clever and lovable dog. <br /><br />
                            If you are a breeder or own a dog please contact us if you would like to ask questions or add information or pictures.
			            </p>
                   </div>
               </div> 
             </div>
         </div>
	</div>
  </div>
</div>

