@model ISIC_DATA.Models.Litter

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Litter</legend>

        <div class="editor-field">
            Date of birth: @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-field">
            Breeder name: @Html.EditorFor(model => model.Breeder.Person.Name)
            @Html.ValidationMessageFor(model => model.Breeder.Person.Name)
        </div>


       
        <div class="editor-field">
            Father: @Html.DropDownList("DogName", String.Empty)
            @Html.ValidationMessageFor(model => model.Father_Id)
        </div>

        <div class="editor-field">
            Mother: @Html.DropDownList("DogName", String.Empty)
            @Html.ValidationMessageFor(model => model.Mother_Id)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
