@model ISIC_DATA.Models.NewsArticle

@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
ViewBag.Title = "Create News";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NewsArticle</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.Valid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valid)
            @Html.ValidationMessageFor(model => model.Valid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminId)
            @Html.ValidationMessageFor(model => model.AdminId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DogId)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.DogId)
            @Html.ValidationMessageFor(model => model.DogId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
           @Html.EditorFor(model => model.Content)
           @Html.ValidationMessageFor(model => model.Content)
        </div>
        

        <p>
            <input type="submit" value="Save News" />
        </p>
        <p>Posted Content: @ViewBag.HtmlContent</p>

    </fieldset>
      
  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
