@using BootstrapSupport
@model ISIC_DATA.Models.DogViewModel

<br />
<br />
<h2>Register Dog(s)</h2>
@Styles.Render("~/Content/typeahead.js-bootstrap.css")

@if (ViewData.ModelState.Any(x => x.Value.Errors.Any())) 
{ 
   <div class="alert alert-error"> 
      <a class="close" data-dismiss="alert">&times;</a> 
      @Html.ValidationSummary(true, "Errors: ")
   </div>
}

@using (Html.BeginForm())
{
    
    
   
    @Html.AntiForgeryToken()

    <fieldset>
           
        <legend>Litter details</legend>

        <span class="editor-field">
            <b>@Html.Label("Date of birth:", new { @class = "control-label" }) </b>
            @Html.TextBoxFor(model => model.Litter.DateOfBirth, new { @class = "datePicker", data_bind = "value: birth" })
            @Html.ValidationMessageFor(model => model.Litter.DateOfBirth, null, new { @class = "help-inline" })
        </span>
       
        

        <div class="editor-field">
            <b><label>Father:</label></b>
            <input type="text" placeholder="Father's Reg" id="typeaheadFather" class="ekkitil">
            @Html.HiddenFor(model => model.Litter.FatherId, new { @id = "returnFatherId" })                     
             <input type="text" id="fatherName" disabled class="form-control">
            @Html.ValidationMessageFor(model => model.Litter.FatherId, null, new { @class = "help-inline" })  
            
        </div>
                

        <div class="editor-field">
            <b><label>Mother:</label></b>
             <input type="text" placeholder="Mother's Reg" id="typeaheadMother" class="ekkitil">
            @Html.HiddenFor(model => model.Litter.MotherId, new { @id = "returnMotherId" })                     
            <input type="text" id="motherName" disabled class="form-control">
            @Html.ValidationMessageFor(model => model.Litter.MotherId, null, new { @class = "help-inline" })
        </div>
    </fieldset>

    <fieldset>
        <legend>Dogs</legend>
        @Html.EditorFor(model => model.DogAndPersons)

        <button class="btn btn-success" data-bind="click: addPosition">Add one</button>
        <button class="btn btn-danger" data-bind="click: removePosition">Remove one</button>
    </fieldset>
    
    
  
    
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        @Html.ActionLink("Cancel", "../Home/Index", null, new { @class = "btn " })
    </div>
   
} <!-- end form -->

@if (ViewData["Error"] != null)
{
    <div class="alert alert-error"> @ViewData["Error"].ToString()</div>8
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"].ToString()</div>
}



<script type="text/javascript">



  
    $(document).ready(function () {
        $.validator.methods["date"] = function (value, element) { return true; }
        $(".datePicker").datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: true,
            orientation: "top auto",
            autoclose: true
        });
    });


    $.getJSON("/registerdog/Fetchfathers/", null, function (response) {
        $("#typeaheadFather").typeahead({
            name: "Father", 
            local: response,
            limit: 5,
            valueKey: "Reg"
        }).on("typeahead:selected typeahead:autocompleted",
            function (e, datum) {
                $('#returnFatherId').val(datum.Id);
                $('#fatherName').val(datum.Name);

            }
        );
    });

    $.getJSON("/registerdog/Fetchmothers/", null, function (response) {
        $("#typeaheadMother").typeahead({
            name: "Mother",
            local: response,
            limit: 5,
            valueKey: "Reg"
        }).on("typeahead:selected typeahead:autocompleted",
            function (e, datum) {
                $('#returnMotherId').val(datum.Id);
                $('#motherName').val(datum.Name);

            }
        );
    });



  

    var numOfDogs=1;

    function createViewModel() {

        var createPosition = function () {
            return {
                name: ko.observable(),
                reg: ko.observable(),
                sex: ko.observable(),
                colorId: ko.observable(),

                personName: ko.observable(),
                email: ko.observable(),
                address: ko.observable()                
            };
        };

        var addPosition = function () {
            if (numOfDogs < 15) {
                positions.push(createPosition());
                numOfDogs++;
            }
        };

        var removePosition = function () {
            if (numOfDogs > 1) {
                positions.pop();
                numOfDogs = numOfDogs - 1;
            }
        };

        var birth = ko.observable();
        var fatherName = ko.observable();
        var positions = ko.observableArray([createPosition()]);

        return {
            birth: birth,
            fatherName: fatherName,
            positions: positions,
            addPosition: addPosition,
            removePosition: removePosition
        };

    }

    $(document).ready(function () {
        var viewModel = createViewModel();
        ko.applyBindings(viewModel);
    });

</script>

