@using BootstrapSupport
@model ISIC_DATA.Models.TestMateViewModel


@{
    Layout = "~/Views/Shared/_BootstrapLayout.Home.cshtml";
    ViewBag.Title = "Test mate";
}
   
@Styles.Render("~/Content/typeahead.js-bootstrap.css") 

<div class="container-fluid container-left-margin dog-details"> 

@using (Html.BeginForm() ) {
    
    <fieldset>
           
        <legend>Test mate - Get the inbreeding coefficent of a potential future puppy&nbsp;&nbsp;
            @Html.ActionLink("More Info", "Info", "TestMate", null, new { id = "info", style = "margin-bottom: 8px", @class = "btn btn-success" })
        </legend>

        <div id='dialogDiv' class='modal hide fade in'>
            <div id='dialogContent'></div>
        </div>
        <div class="editor-field">
            <label>Father:</label>
            <div class="CustomTemplate">                
            @Html.TextBoxFor(model => model.Father.Reg, new { placeholder="Father's Reg", id="typeaheadFather" })
            @Html.HiddenFor(model => model.Father.Id, new { @id = "returnFatherId" })                     
            @Html.TextBoxFor(model => model.Father.Name, new { id="fatherName", disabled = "disabled"  }) 
            </div>
        </div>
        <div class="editor-field">
            <label>Mother:</label>
            <div class="CustomTemplate">                
            @Html.TextBoxFor(model => model.Mother.Reg, new {placeholder="Mother's Reg", id="typeaheadMother" })
            @Html.HiddenFor(model => model.Mother.Id, new { @id = "returnMotherId" })     
            @Html.TextBoxFor(model => model.Mother.Name, new { id = "motherName", disabled = "disabled" })    
            </div>  
        </div>            
                


    </fieldset>
 
    <div class="form-actions" style="padding-left:0">
        <button type="submit" class="btn btn-primary">Check</button>
        @Html.ActionLink("Cancel", "../Home/Index", null, new { @class = "btn ", style="margin-left: 10px" })
    </div>
   
} <!-- end form -->

@if (ViewBag.Pedigree != null) 
{
    @Html.Partial("Result", Model)    
}
</div>

<script type="text/javascript" src="~/scripts/hogan-2.0.0.js"></script>
<script type="text/javascript" src="~/scripts/TestMate.js"></script>

<script>
    (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45948404-1', '85.220.79.130'); ga('send', 'pageview');

</script>