@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="IS">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>

        @Scripts.Render("~/bundles/jquery")    
        @Scripts.Render("~/bundles/knockout")
        <script src="~/Scripts/knockout.namepathbinding.js"></script>
    
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
    </head>

    <body>
        <div class="container">
	        <div class="row-fluid">
		        <div class="span12">
			        <div class="navbar navbar-inverse">
				        <div class="navbar-inner">
					        <div class="container-fluid">
                                <a href="#" class="brand" title="ISIC">&nbsp;</a>
                                    <div class="navbar-header">
                                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <div class="nav-collapse collapse">
                                            <ul class="nav">
                                                @Html.Navigation()
                                            </ul>
                                            <ul class="nav pull-right">
								                    <li>
									                    @Html.ActionLink("Admin", "Index", "RegisterDog")
								                    </li>
						                    </ul>
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                 </div>
             </div>
          </div>
        
        <div class="container">
              @if(IsSectionDefined("featured")){
            <div class="hero-unit">
                 @RenderSection("featured", required: false)
            </div>
            }
          

            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            @RenderBody()   
            <hr>
            <footer>
                <p>&copy; ISIC @System.DateTime.Now.ToString("yyyy")</p>
            </footer> 
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>



