<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title></title>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />
    <link rel="stylesheet" type="test/css" href="~/Content/Site.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <link rel="stylesheet" href="/resources/demos/style.css" />
   
	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script>
        $(function () {
            $("#menu").menu();
        });

    </script>

    <script>
        $(function () {
            $("#menu1").menu();
        });

    </script>
    
  <script>
      $(function() {
          $("#Born").datepicker();

      });
        </script>

    @RenderSection("styles", required: false)
	
</head>
    
<body>
	<div id="">
		<img class="logomynd" src="~/Images/logo.png" alt="not able to load picture"/>
        
	</div>
    <div>
        <img class="linaupp" src="~/Images/isic/LineUp.png" alt="not able to load picture"/>
    </div>

      <div class="vinstri">
          <ul id="menu">
             <li>@Html.ActionLink("Home", "Index", "Home")<li>
             <li>@Html.ActionLink("About", "About", "Home")</li>
             <li>@Html.ActionLink("Search", "Search", "Dog")</li>

        <li>@Html.ActionLink("Admin", "Manage", "Account")
           <ul>
             <li>@Html.ActionLink("Users", "Users", "Home")</li>
             <li>@Html.ActionLink("Disable user", "DisableUsers", "Administrator")</li>
             <li>@Html.ActionLink("New Data", "Create", "IsicDogManager")</li>
           </ul>
         </li>
        </ul>
    </div>
     
    
     <div class="register">
      @RenderSection("featured", required: false)  
      @Html.Partial("_LoginPartial")             
	</div>

     
    <div class="bottombar">
       <h2>&copy; ISIC</h2>
    </div>
     <div id="content">
       
    @RenderBody()	
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

