<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title></title>
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />
    <link rel="stylesheet" type="test/css" href="~/Content/Site.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   
	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script>
        $(function () {
            $("#menu").menu();
        });

    </script>

    <script>
        $(function () {
            $("#menu1").menu();
        });

    </script>
    <script type="text/javascript">

        (function ($) {
            $.fn.styleTable = function (options) {
                var defaults = {
                    css: 'styleTable'
                };
                options = $.extend(defaults, options);

                return this.each(function () {

                    input = $(this);
                    input.addClass(options.css);

                    input.find("tr").live('mouseover mouseout', function (event) {
                        if (event.type == 'mouseover') {
                            $(this).children("td").addClass("ui-state-hover");
                        } else {
                            $(this).children("td").removeClass("ui-state-hover");
                        }
                    });

                    input.find("th").addClass("ui-state-default");
                    input.find("td").addClass("ui-widget-content");

                    input.find("tr").each(function () {
                        $(this).children("td:not(:first)").addClass("first");
                        $(this).children("th:not(:first)").addClass("first");
                    });
                });
            };
        })(jQuery);

        $(document).ready(function () {
            $("#Table1").styleTable();
        });

</script>
    @RenderSection("styles", required: false)
	
</head>
    
<body>
	<div id="header">
		<img class="logomynd" src="~/Images/logo.png" alt="not able to load picture"/>
	</div>
	
	<div id="header2">
         
	 @RenderSection("featured", required: false)
     @Html.Partial("_LoginPartial")             
	
	</div>
	
	<div id="left">
            <ul id="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>	
               
                <li>
                    @Html.ActionLink("Data", "index", "Data")
                    <ul>
                        <li>@Html.ActionLink("ISIC - All", "IsicDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Iceland", "ISDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Denmark", "DKDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Sweden", "SEDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Norway", "NODogs", "IsicData")</li>
                        <li>@Html.ActionLink("Finland", "FIDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Germany", "GEDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Austria", "AUDogs", "IsicData")</li>
                        <li>@Html.ActionLink("Holland", "NEDogs", "IsicData")</li>
                        <li>@Html.ActionLink("USA", "USDogs", "IsicData")</li>
                        
                    </ul>
                </li>
                 <li>@Html.ActionLink("About", "About", "Home")</li>
                 <li>@Html.ActionLink("Search", "Search", "Home")</li>
                <li>
                   
                </li>
            
                     
                 <li>@Html.ActionLink("Admin", "Manage", "Account")
                       <ul>
                            <li>@Html.ActionLink("Notendur", "Users", "Home")</li>
                            <li>@Html.ActionLink("Disable user", "DisableUsers", "Administrator")</li>
                            <li>@Html.ActionLink("New Data", "Create", "IsicDogManager")</li>
                        </ul>
                     </li>
                   
               
            </ul>
    </div>
        
         

    <div id="content">
    @RenderBody()	
    </div>
    <div id="footer">
      
        <h2 class="botn">&copy; ISIC</h2>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>