@model ISIC_DATA.Models.Litter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Litter</legend>
    <div class="container-fluid">
   <div class="control-group">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="control-group">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>
   <div class="control-group">
        @Html.DisplayFor(model=> model.Reg_F)
    </div>
    <div class="control-group">
        @Html.DisplayFor(model=> model.Reg_M)
    </div>
</div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
