@model ISIC_DATA.Models.Litter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Litter</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Breeder.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Breeder.Id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LitterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
