@model ISIC_DATA.Models.Dog

<!-- ko foreach: positions -->
<fieldset>
    <span class="editor-label">
        Name: 
    </span>
    <span class="editor-field">
        @Html.TextBoxFor(model => model.Name, new { data_bind = "value: name, namePath: true" })
        @Html.ValidationMessageFor(model => model.Name)
    </span>

    <span class="editor-label">
        Reg: 
    </span>
    <span class="editor-field">
        @Html.TextBoxFor(model => model.Reg, new { data_bind = "value: reg, namePath: true" })
        @Html.ValidationMessageFor(model => model.Reg)
    </span>

    <span class="editor-label">
        Sex: 
    </span>
    <span class="editor-field">
        @Html.TextBoxFor(model => model.Sex, new { data_bind = "value: sex, namePath: true" })
        @Html.ValidationMessageFor(model => model.Sex)
    </span>

    <span class="editor-label">
        Color: 
    </span>
    <span class="editor-field">
        @Html.DropDownListFor( model => model.ColorId, (SelectList)ViewBag.ColorId ,new { data_bind = "value: colorId, namePath: true" })
        @Html.ValidationMessageFor(model => model.Color.Id)
    </span>
</fieldset>
<!-- /ko -->
