@model ISIC_DATA.Models.DetailedInfo

@{
    ViewBag.Title = "DetailsHealth";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>DetailedInfo</legend>

<div class="container-fluid">
<ul class="thumbnails">
<li class="span12 clearfix">
  <div class="thumbnail clearfix">
    

     <div class="control-group">
        <label class="control-label"> <b>@Html.DisplayNameFor(model => model.OldColor):</b>  @Html.DisplayFor(model => model.OldColor)</label>
    </div>
     

     <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.Eyes):</b> @Html.DisplayFor(model => model.Eyes)</label>
    </div>
     
    <div class="control-group">
      <label class="control-label">  <b>@Html.DisplayNameFor(model => model.Comment):</b>  @Html.DisplayFor(model => model.Comment)</label>
    </div>
    
    <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.Hair):</b> @Html.DisplayFor(model => model.Hair)</label>
    </div>    

    <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.HD):</b> @Html.DisplayFor(model => model.HD)</label>
    </div>
   
    <div class="control-group">
       <label class="control-label">  <b>@Html.DisplayNameFor(model => model.HD2):</b> @Html.DisplayFor(model => model.HD2)</label>
    </div> 
   
   <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.RS):</b>   @Html.DisplayFor(model => model.RS)</label>
    </div>
    
     <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.MT):</b>  @Html.DisplayFor(model => model.MT)</label>
    </div>
    
    <div class="control-group">
       <label class="control-label">  <b>@Html.DisplayNameFor(model => model.AD):</b> @Html.DisplayFor(model => model.AD)</label>
    </div>
    
    <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.HT):</b> @Html.DisplayFor(model => model.HT)</label>
    </div>
    
   <div class="control-group">
       <label class="control-label"> <b>@Html.DisplayNameFor(model => model.NewReg):</b> @Html.DisplayFor(model => model.NewReg)</label>
    </div>
   </div>
    </li>
  </ul>
 </div>

        
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
