@model IEnumerable<ISIC_DATA.Models.DetailedInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OldColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eyes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HD2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewReg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OldColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eyes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HD2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewReg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
