@using BootstrapSupport
@model ISIC_DATA.Models.Dog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<fieldset>
    <legend>Dog</legend>

    <div class="display-field">
        Name: @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-field">
        Reg: @Html.DisplayFor(model => model.Reg)
    </div>
    ....
    <div class="display-field">
        Father: @Html.DisplayFor(model => model.Litter.Father.Name)
    </div>

    <div class="display-field">
        Mother: @Html.DisplayFor(model => model.Litter.Mother.Name)
    </div>
    ....
    <div class="display-field">
        Color comment: @Html.DisplayFor(model => model.ColorComment)
    </div>

    <div class="display-field">
        Gender: @Html.DisplayFor(model => model.Sex)
    </div>

    <div class="display-field">
       Litter Id: @Html.DisplayFor(model => model.Litter.Id)
    </div>
   
    <div class="display-field">
       Color: @Html.DisplayFor(model => model.Color.ColorText)
    </div>
   
    <div class="display-field">
       Old color:   @Html.DisplayFor(model => model.DetailedInfo.OldColor)
    </div>
    
    <div class="display-field">
       Owner:  @Html.DisplayFor(model => model.Person.Name)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
