@using BootstrapSupport
@model ISIC_DATA.Models.Dog

@{
    ViewBag.Title = "Details";
}

  <div class="row dog-details">
      <div class="span6">
          <h2 class="dogTitle">@Html.DisplayFor(model => model.Name)</h2>
               <dl class="dl-horizontal doglist">
                        <dt>Registration Nr:</dt><dd>@Model.Reg</dd>
                        <dt> Born:</dt> <dd>@Html.DisplayFor(model => Model.Litter.DateOfBirth) 
                                 in  @Html.DisplayFor(model => Model.Country.Name) </dd>
                                                   
                           @if (Model.Sex == "M") {<dt>Gender: </dt><dd>Male </dd>
                                
                           }
                           else {
                                <dt>Gender: </dt><dd>Female </dd>
                           }
                          <dt>Father:</dt><dd> @Html.DisplayFor(model => model.Litter.Father.Name) </dd>
                          <dt>Mother:</dt><dd> @Html.DisplayFor(model => model.Litter.Mother.Name)</dd> 
                          <dt>Breeder:</dt><dd>@Html.DisplayFor(model => model.Litter.Person.Name)</dd> 
                           @if (Model.DetailedInfoId != null) {<dt>HD: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.HD)</dd>
                            }
                           else
                           {
                               ;
                                }
                 </dl>                           
            </div>
            @*Load Photo from Database*@
             <div class="span6">       
                 <div class="dogPic">
                            @if (@Model.PicturePath == null)
                            {
                                <img src="~/Images/dogs/dog1.jpg" alt ="~/Images/dogs/dog1.jpg" />     
                            }
                            else
                            {                           
                                 <img src="@Url.Content(@Model.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                            } 
                  </div> 
             </div>                    
      </div>



<div class="container dogPedigree">
	<div class="row">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">
			    </li>
				<li class="active">
					<a href="/Dog/Index">Pedigree</a>
				</li>
				<li>
					<a href="#">Testmate(inbreeding)</a>
				</li>
				<li>	                   
                   @Html.ActionLink("Health & apperance","../Detailedinfo/details/", new { id = Model.Id })                                       
                </li>
				<li>
				   @Html.ActionLink("Litter","../Litter/details/", new { id = Model.Id })                                       
				</li>
				<li>
					@Html.ActionLink("Breeder","../Person/details/", new { id = Model.Id })
				</li>
                <li>
					<a href="#">Pictures</a>
				</li>
                <li>
					<a href="/Home/About">More Info</a>
				</li>
                <li>
					<a href="http://blog.is/forsida/">Blog</a>
				</li>
					
			</ul>
         </div>

                
         @*Pedigree View*@
         <div class="span9">
            <table BORDER=0 CELLSPACING=12 CELLPADDING=0 WIDTH="100%" >
                <tr>

                <th>
                    <table BORDER="2" CELLSPACING=0 CELLPADDING=4 COLS=5 WIDTH="100%" BGCOLOR="#FFFFFF" >
                        <th>Parents</th>
                        <th>GrandParents</th>
                        <th>Greate GrandParents</th>
                        <th>Greate Greate GrandParents</th>
                    @*Fathers Pedigree*@           
                    <tr>
                        
                        <td ROWSPAN="8">@Html.ActionLink(Model.Litter.Father.Name, "Details", new { Id= (Model.Litter.Father.Id) })
                            <br> @if (@Model.PicturePath != null ) {                           
                                 <img class="pedPhoto" src="@Url.Content(@Model.Litter.Father.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                            } 
                        </td>                
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Name, "Details", new { Id= (Model.Litter.Father.Litter.Father.Id)})</td>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new { Id= (Model.Litter.Father.Litter.Father.Litter.Father.Id)})</td>
                                         
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new { Id= (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Mother.Id) })</td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new{ Id= (Model.Litter.Father.Litter.Father.Litter.Mother.Id )})</td>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new { id= (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Mother.Id) })</td>
                    </tr>
                    <tr>
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Mother.Id) })</td>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new {Id=(Model.Litter.Father.Litter.Mother.Litter.Father.Id) })</td>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new {Id= (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Mother.Id)})</td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Id) })</td>
                        <td>@Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new {Id=(Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Mother.Id)})</td>
                    </tr>
                    

                     @*Mothers Pedigree*@    
                    <tr>
                        <td ROWSPAN="8">@Html.ActionLink(Model.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Mother.Id) })<br>
                           @if (@Model.PicturePath != null ) {                           
                                 <img class="pedPhoto" src="@Url.Content(@Model.Litter.Mother.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                           }  
                        </td>
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Mother.Litter.Father.Name, "Details", new {Id= (Model.Litter.Mother.Litter.Father.Id) })</td>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Father.Litter.Father.Id) })</td>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Mother.Id) })</td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Father.Litter.Mother.Id) })</td>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new {Id= (Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Father.Id) })</td>
                    </tr>
                    <tr>
                         <td>@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Mother.Id) })</td>
                    </tr>

                    <tr>
                        <td ROWSPAN="4">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Mother.Id) })</td>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Mother.Litter.Father.Id) })</td>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new {Id=(Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Father.Id)})</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Id) })</td>
                    </tr>
                    <tr>
                         <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new  {Id=(Model.Litter.Mother.Litter.Mother.Litter.Mother.Id) })</td>
                         <td>@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new{Id=(Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Father.Id) })</td>
                    </tr>
                    <tr>
                        <td>@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new {Id= (Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Mother.Id) })</td>
                    </tr>
                 </table>
             </td>
          </tr>
       </table>   
    </div> 	
  </div>
</div>

@if ( ViewBag.Siblings.Count > 0 ) 
{ 
    <h3>Siblings from the same litter ( @ViewBag.Siblings.Count )</h3>
    foreach(var item in ViewBag.Siblings)
    {         
   
        @Html.ActionLink((string)item.Name,"Details",new { id=item.Id }) <br>
          
    }
}

@if ( ViewBag.SiblingsFromFatherSide.Count > 0 ) 
{ 
    <h3>Siblings with same father ( @ViewBag.SiblingsFromFatherSide.Count )</h3>
    foreach (var item in ViewBag.SiblingsFromFatherSide)
    {         
        
        @Html.ActionLink((string)item.Name,"Details",new { id=item.Id }) <br>
            
    }
}

@if ( ViewBag.SiblingsFromMotherSide.Count > 0 ) 
{    
    <h3>Siblings with same mother ( @ViewBag.SiblingsFromMotherSide.Count ) </h3>
    foreach (var item in ViewBag.SiblingsFromMotherSide)
    {         
    
        @Html.ActionLink((string)item.Name,"Details",new { id=item.Id }) <br>
          
    }
}


<!--p>
     
    <p class="btn btn-primary icon  pull-left ">
         @Html.ActionLink("Edit", "Edit", new  { id=Model.Id  } )  </p>  |  <p class="btn btn-primary icon  pull-center "> @Html.ActionLink("Back to List", "Index")</p>
    
</p-->







