@model ISIC_DATA.Models.dog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>dog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Born)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Born)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pedegreenumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pedegreenumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sex)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
