@using BootstrapSupport
@model ISIC_DATA.Models.Dog

@{
    ViewBag.Title = "Edit Dog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="span12">
           <div class="span3">
                
        
        <!--Health and appreance-->
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Health and appreance</legend>
                <div class="control-group">

                    <div class="editor-label">
                        Inbreeding
                        <a href="#" id="inbreeding" class="btn btn-danger" rel="popover" data-content="You can put the result of the inbreeding calculation here. Manu dogs has a calculation iported to the system(calculated elsewhere)" data-original-title="Inbreeding:">i</a>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Inbreeding)
                        @Html.ValidationMessageFor(model => model.Inbreeding)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ColorComment)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ColorComment)
                        @Html.ValidationMessageFor(model => model.ColorComment)
                    </div>
                    <div class="editor-label">
                        Color
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ColorId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ColorId)
                    </div>
                    <div class="editor-label">
                        HD
                        <a href="#" id="hd" class="btn btn-danger" rel="popover" data-content="This is the most common health information for the Icelandic Sheepdog. Please use your country...." data-original-title="HD:">i</a>
                        </div>
                    <div class="editor-field">
                       @Html.EditorFor(model => model.HD)
                       @Html.ValidationMessageFor(model => model.HD)
                    </div>
                    <div class="editor-label">
                        Dew Claws
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.MT)
                        @Html.ValidationMessageFor(model => model.MT)
                   </div>
                    <div class="editor-label">
                        Eyes
                    </div>
                    <div class="editor-field">
                       @Html.EditorFor(model => model.HD)
                       @Html.ValidationMessageFor(model => model.HD)
                    </div>
                    <div class="editor-label">
                      Hair
                    <div class="editor-field">
                       @Html.EditorFor(model => model.Hair)
                       @Html.ValidationMessageFor(model => model.Hair)
                    </div>
                    <div class="editor-label">
                        HD2
                    </div>
                    <div class="editor-field">
                       @Html.EditorFor(model => model.HD2)
                       @Html.ValidationMessageFor(model => model.HD2)
                    </div>
                    <div class="editor-label">
                        Size
                    </div>
                    <div class="editor-field">
                       @Html.EditorFor(model => model.Size)
                       @Html.ValidationMessageFor(model => model.Size)
                    </div>
                    <div class="editor-label">
                       Comment
                    <div class="editor-field">
                       @Html.TextBoxFor(model => model.Comment, new { style = "height: 80px;" })
                       @Html.ValidationMessageFor(model => model.Comment)
                   </div>
                </div>
            </div>
          </div>
     </fieldset>  
   
        </div> <!-- Div span3 -->

        
        
        <!--Original data-->
        <div class="span3">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Original Data</legend>
                <div class="control-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name, new { title = "Your Tooltip text goes here" })
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="controls bootstrap-timepicker">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Reg)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Reg)
                        @Html.ValidationMessageFor(model => model.Reg)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.LitterId)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.LitterId)
                        @Html.ValidationMessageFor(model => model.LitterId)
                    </div>
                    <div class="editor-label">
                        Gender
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Sex)
                        @Html.ValidationMessageFor(model => model.Sex)
                    </div>
                    <div class="editor-label">
                        Born in
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BornInCountry.Name)
                        @Html.ValidationMessageFor(model => model.BornInCountry.Name)
                    </div>
                    <div class="editor-label">
                        Birthdate
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Litter.DateOfBirth)
                        @Html.ValidationMessageFor(model => model.Litter.DateOfBirth)
                    </div>
                    <div class="editor-label">
                    Breeder
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Person.Name)
                        @Html.ValidationMessageFor(model => model.Person.Name)
                    </div>
                </div>
        </div>
        </fieldset>
        </div>
        <!-- Ownership -->    
        <div class="span4">
        
        <fieldset class="scheduler-border">
             <legend class="scheduler-border">Ownership</legend>
                 <div class="control-group">
                    <div class="editor-label">
                        
                       @Html.LabelFor(model => model.Person.Owner)
                    </div>    
                    <div class="editor-field">    
                       @Html.EditorFor(model => model.Person.Name)
                       @Html.ValidationMessageFor(model => model.Person.Name)
                    </div>
                    <div class="editor-label">        
                       New Registration number
                       <a href="#" id="newreg" class="btn btn-danger" rel="popover" data-content="If the dog has moved to another country he sometimes gets a new registration number. This number can be saved here" data-original-title="New Reg Nr.">i</a>
                    </div>
                    <div class="editor-field">
                       @Html.EditorFor(model => model.NewReg)
                       @Html.ValidationMessageFor(model => model.NewReg)
                    </div>
                 </div> 
        </fieldset>
        <!-- Photo -->
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Photo</legend>
            <div class="row">
            <div class="span3"> 
            <div class="control-group">
                    <div class="editPhoto">
                            Current Photo
                            @if (@Model.PicturePath == null)
                            {
                                <img src="~/Images/dogs/dog2.jpg" alt ="~/Images/dogs/dog2.jpg" />     
                            }
                            else
                            {                           
                                 <img src="@Url.Content(@Model.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                            }
                    </div>
                    <div class="uploadPhoto">
                                <div class="input-group-btn">
						        <button class="btn btn-primary btn-file">
							    Select picture:<input type="file" name="file">
						        </button>
					            </div>
					            
                                <p><input type="text" class="form-control" readonly="true"></p>
                                
                                
                                <button type="submit" class="btn btn-primary" name="Submit" id="Submit">Upload</button>
                                <p><button type="reset" class="btn btn-warning cancel">Cancel upload</button></p>
                                
				            	                                    			
			       </div>
                </div>
        </fieldset>
        </div>  <!--  span3 -->
        </div>  <!--  span12 --> 
     </div>
    <p>
        <input type="submit" value="Save" />
    </p>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-tooltip.js"></script>
<script src="/twitter-bootstrap/twitter-bootstrap-v2/js/bootstrap-popover.js"></script>


<script>
$(function ()
{
    $("#newreg").popover();
    $("#hd").popover();
    $("#inbreeding").popover();
});
</script>

<script type="text/javascript">
    $(document)
        .on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });
    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
            var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        });
    });


</script>

