
@using BootstrapSupport
@model ISIC_DATA.Models.Dog

@{
    ViewBag.Title = "Dog Details";
}

  <div class="row dog-details">
      <div class="span5">
          <h2 class="dogTitle">@Html.DisplayFor(model => model.Name)</h2>
               <dl class="dl-horizontal doglist">
                        <dt>Registration Nr:</dt><dd>@Model.Reg</dd>
                        <dt> Born:</dt> <dd>@Html.DisplayFor(model => Model.Litter.DateOfBirth) 
                                 in  @Html.DisplayFor(model => Model.BornInCountry.Name) </dd>
                                                   
                           @if (Model.Sex == "M")
                           {
                               <dt>Gender: </dt><dd>Male </dd>
                           }
                           else
                           {
                                <dt>Gender: </dt><dd>Female </dd>
                           }
                          <dt>Father:</dt><dd> @Html.DisplayFor(model => model.Litter.Father.Name) </dd>
                          <dt>Mother:</dt><dd> @Html.DisplayFor(model => model.Litter.Mother.Name)</dd> 
                           @if (Model.Litter.PersonId != null)
                           {
                               <dt>Breeder: </dt><dd>@Html.DisplayFor(model => model.Litter.Person.Name)</dd>
                           }
                           else
                           {
                               <dt>Breeder: </dt><dd>No Breeder Registered</dd>
                           }
                           @if (Model.DetailedInfoId != null)
                           {
                               if (Model.DetailedInfo.HD != null)
                               {<dt>HD: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.HD)</dd>
                               }
                               else
                               {
                                   ;
                               }
                           }
                 </dl>                           
            </div>
            @*Load Photo from Database*@
             <div class="span5">       
                 <div class="dogPic">
                            @if (@Model.PicturePath == null)
                            {
                                <img src="~/Images/dogs/dog1.jpg" alt ="~/Images/dogs/dog1.jpg" />     
                            }
                            else
                            {                           
                                 <img src="@Url.Content(@Model.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                            } 
                  </div> 
             </div>                    
      </div>


<div class="row pedigree">
  <!-- Navigation Buttons -->
  <div class="span2">
    <ul class="nav nav-pills nav-stacked" id="myTabs">
      <li class="active"><a href="#pedigree">Pedigree</a></li>
      <li><a href="#litter">Litter</a></li>
      <li><a href="#testmate">Testmate (inbreeding)</a></li>
      <li><a href="#health">Health & apperance</a></li>
    </ul>
  </div>

  <!-- Content -->

  <div class="span7 offset1">
    <div class="tab-content">

      <div class="tab-pane active" id="pedigree">      
         
         
         <table  BORDER="2" CELLSPACING=0 CELLPADDING=4 COLS=5 WIDTH="100%" BGCOLOR="#FFFFFF"">
           <thead>
             <tr>
                <th>Parents</th>
                <th>Grandparents</th>
                <th>Great Grandparents</th>
                <th>Great Great Grandparents</th>
             </tr>
              </thead>
                @*Fathers Pedigree*@           
                  <tbody>
                      <tr>
                        
                        <td ROWSPAN="8">@Html.ActionLink(Model.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Id) })
                            <br> @if (@Model.Litter.Father.PicturePath != "~/Images/dogs/dog1.jpg" & @Model.Litter.Father.PicturePath != null)
                                 {                           
                                 <img class="pedPhoto" src="@Url.Content(@Model.Litter.Father.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                                 } 
                        </td>                
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Id) })</td>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Litter.Father.Id) })</td>
                                         
                        <td> @if (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Father.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {                            
                             @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Father.Id) })
                             }
                            </td>
                     </tr>
                    <tr>
                        <td> @if (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {
                             @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Litter.Father.Litter.Mother.Id) })
                             }
                             </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Litter.Mother.Id) })</td>
                        <td>@if (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Father.Name == "not known")
                             {
                                <p></p>
                             }
                             else
                             { 
                             @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new { id = (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Father.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td>@if (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             { 
                             @Html.ActionLink(Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Father.Litter.Mother.Litter.Mother.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Id) })</td>
                        <td ROWSPAN="2"> @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Father.Id) })</td>
                        <td> @if (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Father.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             { 
                                 @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Father.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td> @if (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Father.Litter.Mother.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Mother.Id) })</td>
                        <td>  @if (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Father.Name == "not known")
                            {
                                 <p></p>  
                            }
                            else
                            {  
                                @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Father.Id) })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td> @if (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                             @Html.ActionLink(Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Father.Litter.Mother.Litter.Mother.Litter.Mother.Id) })
                            }
                        </td>
                    </tr>
                    

                     @*Mothers Pedigree*@    
                    <tr>
                        <td ROWSPAN="8">@Html.ActionLink(Model.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Id) })<br>
                           @if (@Model.Litter.Mother.PicturePath != "~/Images/dogs/dog1.jpg" & @Model.Litter.Mother.PicturePath != null)
                           {                           
                                 <img class="pedPhoto" src="@Url.Content(@Model.Litter.Mother.PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                           }  
                        </td>
                        <td ROWSPAN="4"> @Html.ActionLink(Model.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Id) })</td>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Father.Id) })</td>
                       <td>  @if (Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Father.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Father.Id) })
                             }
                       </td>
                    </tr>
                    <tr>
                        <td>  @if (Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Father.Litter.Mother.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Mother.Id) })</td>
                        <td>  @if (Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Father.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Father.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                         <td>  @if (Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Father.Litter.Mother.Litter.Mother.Id) })
                             }
                         </td>
                    </tr>

                    <tr>
                        <td ROWSPAN="4">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Id) })</td>
                        <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Father.Id) })</td>
                        <td>  @if (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Father.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Father.Id) })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>  @if (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                         <td ROWSPAN="2">@Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Mother.Id) })</td>
                         <td>  @if (Model.Litter.Mother.Litter.Mother.Litter.Father.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Father.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Father.Id) })
                             }
                         </td>
                    </tr>
                    <tr>
                        <td>  @if (Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Mother.Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink(Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Mother.Name, "Details", new { Id = (Model.Litter.Mother.Litter.Mother.Litter.Mother.Litter.Mother.Id) })
                             }
                        </td>
                    </tr>
                   </tbody>
                 </table>
                                   	
      </div>
    
      <!-- FOR THE Inbreeding TAB -->   
      <div class="tab-pane" id="testmate">
          Testmate (inbreeding) in construction
      </div>
      
      <!-- FOR THE Health Information TAB --> 
      <div class="tab-pane" id="health">
          
             
          <dl class="dl-horizontal doglist">
                          @if (Model.ColorId != null)
                          {<dt>Color-Group: </dt><dd>@Html.DisplayFor(model => model.Color.ColorText)</dd>}
                              else { ;
                          }
                          @if (Model.ColorComment != null)
                          {<dt>Original Color: </dt><dd>@Html.DisplayFor(model => model.ColorComment)</dd>}
                          else { ;
                          } 
                          @if (Model.PersonId != null)
                          {<dt>Owner: </dt><dd>@Html.DisplayFor(model => model.Person.Name)</dd> }
                          else {  ;
                          }
            </dl>

                
            <div class="healthInfo">
                    @if (Model.DetailedInfoId != null)
                          {<dl class="dl-horizontal doglist">
                              @if (Model.DetailedInfo.Comment != null)
                              {<dt>More Information: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.Comment)</dd> }
                              else {  ;
                              }
                              @if (Model.DetailedInfo.NewReg != null)
                              {<dt>New Registr. Nr: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.NewReg)</dd> }
                              else {  ;
                              }
                              @if (Model.DetailedInfo.Hair != null)
                              {<dt>Hair: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.Hair)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.Eyes != null)
                              {<dt>Eyes: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.Eyes)</dd> }
                              else {  ;
                              }
                              @if (Model.DetailedInfo.Size != null)
                              {<dt>Size: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.Size)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.AD != null)
                              {<dt>AD: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.AD)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.RS != null)
                              {<dt>RS: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.RS)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.HT != null)
                              {<dt>HT: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.HT)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.HD2 != null)
                              {<dt>HD 2: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.HD2)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.OldColor != null)
                              {<dt>Old Color: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.OldColor)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.MT != null)
                              {<dt>Mental Test: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.MT)</dd> }
                              else {  ;
                              }
                               @if (Model.DetailedInfo.Inbreeding != null)
                              {<dt>Inbreeding: </dt><dd>@Html.DisplayFor(model => model.DetailedInfo.Inbreeding)</dd> }
                              else {  ;
                              }
                          </dl>           
                            }
                     else {
                         <p> There is no further <b>Health Information</b> available</p>
                          }
                </div>

                <div class="thumbnail colorThumb">
                    <h5>The Icelandic Sheepdogs and their colors</h5>
                    <p> One of the most special attributes of the Icelandic dog is his color. To embrace the diffrenent approaches and keep the 
                        varity alive, the <b>"Orignial-Color"</b> shows how the dog was registered, often in their original language.<br />
                        The <b>"Color-Group"</b> shows which main color group the dog belongs to with two important rules: White is always part of the color, and dogs
                        which are black are always registered as tricolor dogs.</p>
                </div>
      </div>

      <!-- FOR THE LITTER TAB -->      
      <div class="tab-pane" id="litter">
          
            @if (ViewBag.Siblings.Count > 0)
            { 
                <strong>Siblings from the same litter ( @ViewBag.Siblings.Count )</strong> <br>
                <table class="table table-striped">
                    <thead>
				    <tr>					    
					    <th>Reg</th>
					    <th>Name</th>
					    <th>Father</th>
					    <th>Mother</th>
                        <th>Born</th>
				    </tr>
			        </thead>
                    <tbody>		        
                            @foreach (var item in ViewBag.Siblings)
                            {    
                                <tr>     
                                <td> @item.Reg </td>
                                <td> @Html.ActionLink((string)item.Name, "Details", new { id = item.Id }) </td>
                                <td> @item.Litter.Father.Name </td>
                                <td> @item.Litter.Mother.Name</td>
                                <td> @item.Litter.DateOfBirth.ToString("dd/MM/yyyy") </td>
                                </tr>
                            }               
                    </tbody>
                </table>              
            }

            @if (ViewBag.SiblingsFromFatherSide.Count > 0)
            { 
                <strong>Siblings with same father ( @ViewBag.SiblingsFromFatherSide.Count )</strong><br>
                <table class="table table-striped">
                    <thead>
				    <tr>					    
					    <th>Reg</th>
					    <th>Name</th>
					    <th>Father</th>
					    <th>Mother</th>
                        <th>Born</th>
				    </tr>
			        </thead>
                    <tbody>	
                    @foreach (var item in ViewBag.SiblingsFromFatherSide)
                    {         
                    <tr>     
                        <td> @item.Reg </td>
                        <td> @Html.ActionLink((string)item.Name, "Details", new { id = item.Id }) </td>
                        <td> @item.Litter.Father.Name </td>
                        <td> @item.Litter.Mother.Name</td>
                        <td> @item.Litter.DateOfBirth.ToString("dd/MM/yyyy") </td>
                    </tr>            
                    }
                    </tbody>
                </table>
            }

            @if (ViewBag.SiblingsFromMotherSide.Count > 0)
            {    
                <strong>Siblings with same mother ( @ViewBag.SiblingsFromMotherSide.Count ) </strong><br>
                <table class="table table-striped">
                    <thead>
				    <tr>					    
					    <th>Reg</th>
					    <th>Name</th>
					    <th>Father</th>
					    <th>Mother</th>
                        <th>Born</th>
				    </tr>
			        </thead>
                    <tbody>	
                    @foreach (var item in ViewBag.SiblingsFromMotherSide)
                    {         
                    <tr>     
                        <td> @item.Reg </td>
                        <td> @Html.ActionLink((string)item.Name, "Details", new { id = item.Id }) </td>
                        <td> @item.Litter.Father.Name </td>
                        <td> @item.Litter.Mother.Name</td>
                        <td> @item.Litter.DateOfBirth.ToString("dd/MM/yyyy") </td>
                    </tr>
                    }
                    </tbody>
                </table>
            }


            @if (ViewBag.Puppies.Count > 0)
            {    
                <strong>Puppies ( @ViewBag.Puppies.Count ) </strong><br>
                   <table class="table table-striped">
                    <thead>
				    <tr>					    
					    <th>Reg</th>
					    <th>Name</th>
					    <th>Father</th>
					    <th>Mother</th>
                        <th>Born</th>
				    </tr>
			        </thead>
                    <tbody>
                @foreach (var item in ViewBag.Puppies)
                {         
                <tr>     
                    <td> @item.Reg </td>
                    <td> @Html.ActionLink((string)item.Name, "Details", new { id = item.Id }) </td>
                    <td> @item.Litter.Father.Name </td>
                    <td> @item.Litter.Mother.Name</td>
                    <td> @item.Litter.DateOfBirth.ToString("dd/MM/yyyy") </td>
                </tr>
                }
                </tbody>
             </table>
            }

      </div>
    </div>
  </div>
</div>

</div>



              

<!--p>
     
    <p class="btn btn-primary icon  pull-left ">
         @Html.ActionLink("Edit", "Edit", new { id = Model.Id })  </p>  |  <p class="btn btn-primary icon  pull-center "> @Html.ActionLink("Back to List", "Index")</p>
    
</p-->



<script type="text/javascript">

  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });


</script>






