@model ISIC_DATA.Models.Dog

<table class="tablePed" border="1">
           <thead>
             <tr>
                <th style="width:200px;table-layout:fixed">Parents</th>
                <th style="width:200px;table-layout:fixed">Grandparents</th>
                <th style="width:200px;table-layout:fixed">Great Grandparents</th>
                <th style="width:300px;table-layout:fixed">Great Great Grandparents</th>
             </tr>
              </thead>
                @*Fathers Pedigree*@           
                  <tbody>
                      <tr>
                        
                        <td rowspan="8">@if (ViewBag.Pedigree[0].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[0].Name, "Details", new { Id = ((int)ViewBag.Pedigree[0].Id) })
                             }
                                <br> @if (ViewBag.Pedigree[0].PicturePath != "~/Images/dogs/dog1.jpg" & ViewBag.Pedigree[0].PicturePath != null)
                                 {                           
                                 <img class="pedPhoto" src="@Url.Content(ViewBag.Pedigree[0].PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                                 } 
                        </td>                
                        <td ROWSPAN="4"> @if (ViewBag.Pedigree[2].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[2].Name, "Details", new { Id = ((int)ViewBag.Pedigree[2].Id) })
                             }
                            </td>
                        <td ROWSPAN="2"> @if (ViewBag.Pedigree[6].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {   
                                @Html.ActionLink((string)ViewBag.Pedigree[6].Name, "Details", new { Id = ((int)ViewBag.Pedigree[6].Id) })                                                         
                            }
                            </td>
                                         
                        <td  style="height:20px;table-layout:fixed"> @if (ViewBag.Pedigree[14].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {                            
                                @Html.ActionLink((string)ViewBag.Pedigree[14].Name, "Details", new { Id = ((int)ViewBag.Pedigree[14].Id) }) 
                             }
                            </td>
                     </tr>
                    <tr>
                        <td  style="height:20px;table-layout:fixed"> @if (ViewBag.Pedigree[15].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {
                                @Html.ActionLink((string)ViewBag.Pedigree[15].Name, "Details", new { Id = ((int)ViewBag.Pedigree[15].Id) }) 
                             }
                             </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">  @if (ViewBag.Pedigree[7].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[7].Name, "Details", new { Id = ((int)ViewBag.Pedigree[7].Id) }) 
                             }
                            </td>
                        <td  style="height:20px;table-layout:fixed">@if (ViewBag.Pedigree[16].Name == "not known")
                             {
                                <p></p>
                             }
                             else
                             { 
                                @Html.ActionLink((string)ViewBag.Pedigree[16].Name, "Details", new { Id = ((int)ViewBag.Pedigree[16].Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td  style="height:20px;table-layout:fixed">@if (ViewBag.Pedigree[17].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             { 
                                @Html.ActionLink((string)ViewBag.Pedigree[17].Name, "Details", new { Id = ((int)ViewBag.Pedigree[17].Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="4"> @if (ViewBag.Pedigree[3].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {            
                                 @Html.ActionLink((string)ViewBag.Pedigree[3].Name, "Details", new { Id = ((int)ViewBag.Pedigree[3].Id) })
                             }
                        </td>
                        <td ROWSPAN="2"> @if (ViewBag.Pedigree[8].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {            
                                @Html.ActionLink((string)ViewBag.Pedigree[8].Name, "Details", new { Id = ((int)ViewBag.Pedigree[8].Id) })
                             }
                        </td>
                        <td style="height:20px;table-layout:fixed"> @if (ViewBag.Pedigree[18].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             { 
                                 @Html.ActionLink((string)ViewBag.Pedigree[18].Name, "Details", new { Id = ((int)ViewBag.Pedigree[18].Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td  style="height:20px;table-layout:fixed"> @if (ViewBag.Pedigree[19].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[19].Name, "Details", new { Id = ((int)ViewBag.Pedigree[19].Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2">@if  (ViewBag.Pedigree[9].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[9].Name, "Details", new { Id = ((int)ViewBag.Pedigree[9].Id) })
                             }
                        </td>
                        <td  style="height:20px;table-layout:fixed">  @if  (ViewBag.Pedigree[20].Name == "not known") 
                            {
                                 <p></p>  
                            }
                            else
                            {  
                                @Html.ActionLink((string)ViewBag.Pedigree[20].Name, "Details", new { Id = ((int)ViewBag.Pedigree[20].Id) })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td  style="height:20px;table-layout:fixed"> @if  (ViewBag.Pedigree[21].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[21].Name, "Details", new { Id = ((int)ViewBag.Pedigree[21].Id) })
                            }
                        </td>
                    </tr>
                    

                     @*Mothers Pedigree*@    
                    <tr>
                        <td ROWSPAN="8"> @if (ViewBag.Pedigree[1].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[1].Name, "Details", new { Id = ((int)ViewBag.Pedigree[1].Id) })                                
                             }
                             <br>
                             @if (ViewBag.Pedigree[1].PicturePath != "~/Images/dogs/dog1.jpg" & ViewBag.Pedigree[1].PicturePath != null)
                             {                           
                                 <img class="pedPhoto" src="@Url.Content(ViewBag.Pedigree[1].PicturePath)" alt ="@Html.DisplayFor(model => model.Name)" />                            
                             }  
                        </td>
                        <td ROWSPAN="4"> @if  (ViewBag.Pedigree[4].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {            
                                @Html.ActionLink((string)ViewBag.Pedigree[4].Name, "Details", new { Id = ((int)ViewBag.Pedigree[4].Id) })
                             }
                        </td>
                        <td ROWSPAN="2">@if  (ViewBag.Pedigree[10].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             { 
                                @Html.ActionLink((string)ViewBag.Pedigree[10].Name, "Details", new { Id = ((int)ViewBag.Pedigree[10].Id) })
                             }
                        </td>
                       <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[22].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[22].Name, "Details", new { Id = ((int)ViewBag.Pedigree[22].Id) })                                
                             }
                       </td>
                    </tr>
                    <tr>
                        <td style="height:20px;table-layout:fixed">   @if (ViewBag.Pedigree[23].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[23].Name, "Details", new { Id = ((int)ViewBag.Pedigree[23].Id) }) 
                             }
                        </td>
                    </tr>
                    <tr>
                        <td ROWSPAN="2"> @if (ViewBag.Pedigree[11].Name == "not known") 
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[11].Name, "Details", new { Id = ((int)ViewBag.Pedigree[11].Id) }) 
                             }
                        </td>
                        <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[24].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[24].Name, "Details", new { Id = ((int)ViewBag.Pedigree[24].Id) }) 
                             }
                        </td>
                    </tr>
                    <tr>
                         <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[25].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[25].Name, "Details", new { Id = ((int)ViewBag.Pedigree[25].Id) })
                             }
                         </td>
                    </tr>

                    <tr>
                        <td ROWSPAN="4">@if (ViewBag.Pedigree[5].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[5].Name, "Details", new { Id = ((int)ViewBag.Pedigree[5].Id) })
                             }
                        </td>
                        <td ROWSPAN="2">  @if (ViewBag.Pedigree[12].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[12].Name, "Details", new { Id = ((int)ViewBag.Pedigree[12].Id) })
                             }
                        </td>
                        <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[26].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[26].Name, "Details", new { Id = ((int)ViewBag.Pedigree[26].Id) })
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[27].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[27].Name, "Details", new { Id = ((int)ViewBag.Pedigree[27].Id) })
                             }
                        </td>
                    </tr>
                    <tr>
                         <td ROWSPAN="2"> @if (ViewBag.Pedigree[13].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {           
                                @Html.ActionLink((string)ViewBag.Pedigree[13].Name, "Details", new { Id = ((int)ViewBag.Pedigree[13].Id) })
                             }
                         </td>
                         <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[28].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[28].Name, "Details", new { Id = ((int)ViewBag.Pedigree[28].Id) })
                             }
                         </td>
                    </tr>
                    <tr>
                        <td style="height:20px;table-layout:fixed">  @if (ViewBag.Pedigree[29].Name == "not known")
                             {
                                 <p></p>  
                             }
                             else
                             {  
                                @Html.ActionLink((string)ViewBag.Pedigree[29].Name, "Details", new { Id = ((int)ViewBag.Pedigree[29].Id) })
                             }
                        </td>
                    </tr>
                   </tbody>
                 </table>