@model ISIC_DATA.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterDogs</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    




    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Litter</legend>

            <div class="editor-field">
                Father: @Html.DropDownList("DogName", String.Empty)
            </div>

            <div class="editor-field">
                Mother: @Html.DropDownList("DogName", String.Empty)
            </div>

        </fieldset>
        <fieldset>
            <legend>Dog</legend>
    
            <div class="editor-field">
            Reg: @Html.EditorFor(model => model.Reg)        
            </div>
    
            <div class="editor-field">
            Name: @Html.EditorFor(model => model.Name)          
            </div>
                
            <div class="editor-field">
            Color: @Html.EditorFor(model => model.ColorComment)             
            </div>
               
            <div class="editor-field">
            Sex: @Html.EditorFor(model => model.Sex)             
            </div>
    
            <p>
                
            </p>
        </fieldset>
        <input type="submit" value="Create" />
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
