@{
    ViewBag.Title = "Home";
}

<div id="PageTitle">
    <h3>The ISIC database</h3>
    <h4>Connection to Admin sites:</h4>
    <br />
</div>
        
<div>  
        New views
        @Html.ActionLink("Dog", "Index", "Dog")
        @Html.ActionLink("Color", "Index", "Color")
        @Html.ActionLink("Litter", "Index", "Litter")
        <br/>
        New form - still under contruction.
        @Html.ActionLink("RegisterDog", "Index", "RegisterDog")

        
        <br />
        Admin
         @if (Roles.IsUserInRole("Administrator"))
         {
             
             @Html.ActionLink("Register dogs", "Create", "Litter")
             @Html.ActionLink("Users", "Users", "Home")
         }
     
       
    </div>
    