@model PagedList.IPagedList<ISIC_DATA.Models.NewsArticle>
@using PagedList.Mvc; 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "News";
 }

<div id="PageTitle">
    <h3>News</h3>
    <h4>Here you can see news and blogs from all of the ISIC countries</h4>
</div>

<article class="head">

</article>
    
@foreach (var item in Model) 
    
{
    <article class="single">
         
                  
         <h3>@Html.DisplayFor(modelItem => item.Title )</h3>
    
            @Html.DisplayFor(modelItem => item.Content)
  
    


</article>
} 

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }) )
