@model PagedList.IPagedList<ISIC_DATA.Models.Dog>
@using PagedList.Mvc; 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Health and Appearance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Health and Apperance</h3>
<div>
<h5>Here you can choose between filters to find a certain dog with Health & Apperance information.</h5>
<br />
</div>

<div class="alignSearch">
@using (Html.BeginForm("Index", "DetailedInfo", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Search" />
    </p>
}
</div>

<p>
    @Html.ActionLink("Add more information for a dog", "Create")
</p><br />
<table class="table table-hover">
    <tr>   
        <th>Reg</th>
        <th>Dog Name</th>
        <th>HD</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Reg)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Edit", new { id=item.Id })
        </td>          
        <td>
            @Html.DisplayFor(modelItem => item.DetailedInfo.HD)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.DetailedInfo.NewReg)
        </td>
       
         <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )
