@model ISIC_DATA.Models.Color

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Color</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ColorFile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ColorFile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ColorEn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ColorEn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ColorWeb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ColorWeb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ColorComment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ColorComment)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
