@model IEnumerable<ISIC_DATA.Models.NewsArticle>
@using PagedList.Mvc; 
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
ViewBag.Title = "News Overview";
}

<h3>List of NewsArticles</h3>
<div class="alignSearch">
@using (Html.BeginForm("Index", "NewsArticle", FormMethod.Get))
{
    <p>
        Find by Title or Author: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Search" />
    </p>
}
</div>
<p>
    @Html.ActionLink("Add a new Post to News", "CreateNews")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Users.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Name)
        </td>

         <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditNews", new { id=item.Id })  |  
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

