@model IEnumerable<ISIC_DATA.Models.IsicDog>

@{
    ViewBag.Title = "Index";
}

<h2>All Isic - Dogs</h2>


<table>
    <thead class="ui-widget-header">
    <tr>
       <th>Reg</th>
       <th>Name</th>
       <th>Sex</th>
       <th>Born</th>
       <th>Father</th>
       <th>Mother</th>
       <th>Born in</th>
       <th>Lives in</th>
       <th>Color</th>
       <th>Breeder</th>
       <th>HD</th>
       <th>Inbreeding</th>
     </tr>

@foreach (var g in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => g.ID)</td>
        <td>@Html.DisplayFor(modelItem => g.Name)</td>
        <td>@Html.DisplayFor(modelItem => g.S)</td>
        <td>@Html.DisplayFor(modelItem => g.Born)</td>
        <td>@Html.DisplayFor(modelItem => g.Father)</td>
        <td>@Html.DisplayFor(modelItem => g.Mother)</td>
        <td>@Html.DisplayFor(modelItem => g.B)</td>
        <td>@Html.DisplayFor(modelItem => g.C)</td>
        <td>@Html.DisplayFor(modelItem => g.Color)</td>
        <td>@Html.DisplayFor(modelItem => g.Breeder)</td>
        <td>@Html.DisplayFor(modelItem => g.HD)</td>
        <td>@Html.DisplayFor(modelItem => g.Inbreeding)</td>

    </tr>
}

</table>
