@model ISIC_DATA.Models.IsicDog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>IsicDog</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Today_reg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Today_reg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Born)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Born)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_Estimated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_Estimated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reg_F)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reg_F)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Father)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Father)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reg_M)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reg_M)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mother)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mother)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.B)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.B)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Color)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Breeder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Breeder)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HD2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HD2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Inbreeding)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inbreeding)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
