@model ISIC_DATA.Models.Color

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Color</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorFile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ColorFile)
            @Html.ValidationMessageFor(model => model.ColorFile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorEn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ColorEn)
            @Html.ValidationMessageFor(model => model.ColorEn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorWeb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ColorWeb)
            @Html.ValidationMessageFor(model => model.ColorWeb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorComment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ColorComment)
            @Html.ValidationMessageFor(model => model.ColorComment)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
