@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="IS">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Images/favicon.ico")"/>
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>

        @Scripts.Render("~/bundles/jquery")    
        @Scripts.Render("~/bundles/knockout")
        <script src="~/Scripts/knockout.namepathbinding.js"></script>
    
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
    </head>

    <body>

             <div class="logoff">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
            </div>
       
            <div class="span2 pull-left"><img class="logomynd" src="~/Images/logo1.png" alt="not able to load picture"/>
                </div>
            <div class="span7 pull-left" ><h2>Icelandic Sheepdog International Commitee</h2></div>
                <!--div class="span3 pull-right" style="text-align:right">
                <section id="login"> @Html.Partial("_LoginPartial") </section>
            <div-->    
           
          <div class="row-fluid">
               
		        <div class="span12">
			        <div class="navbar navbar-inverse">
				        <div class="navbar-inner">
					        <div class="container-fluid">
                                <div class="navbar-header">
                                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        
                                        </a>
                                        <div class="nav-collapse collapse">
                                            <ul class="nav">
                                                @Html.Navigation()
                                            </ul>
                                            <ul class="nav pull-right">
								                    <li>
									                    @Html.ActionLink("Admin", "Index", "RegisterDog")
								                    </li>
						                    </ul>
                                             <div class="container">
            
                                         </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                 </div>
             </div>
          </div>
        
        <div class="container">
              @if(IsSectionDefined("featured")){
            <div class="hero-unit">
                 @RenderSection("featured", required: false)
            </div>
            }
                     
            @RenderBody()   
            <hr>
            <footer>
                <p>&copy; ISIC @System.DateTime.Now.ToString("yyyy")</p>
            </footer> 
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>

<script type="text/javascript">

    jQuery.validator.setDefaults({
        highlight: function (element, errorClass, validClass) {
            if (element.type === 'radio') {
                this.findByName(element.name).addClass(errorClass).removeClass(validClass);
            } else {
                $(element).addClass(errorClass).removeClass(validClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            }
        },
        unhighlight: function (element, errorClass, validClass) {
            if (element.type === 'radio') {
                this.findByName(element.name).removeClass(errorClass).addClass(validClass);
            } else {
                $(element).removeClass(errorClass).addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        }
    });

    $(function () {

        $("span.field-validation-valid, span.field-validation-error").addClass('help-block');
        $("div.form-group").has("span.field-validation-error").addClass('has-error');
        $("div.validation-summary-errors").has("li:visible").addClass("alert alert-block alert-danger");

    });

</script>

