<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>ISIC</title>
   
	@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/knockout.namepathbinding.js"></script>


    @RenderSection("styles", required: false)
	
</head>
    
<body>
	<div id="">
		<img class="logomynd" src="~/Images/logo.png" alt="not able to load picture"/>
        
	</div>
    <div>
        <img class="linaupp" src="~/Images/isic/LineUp.png" alt="not able to load picture"/>
    </div>

      <div class="vinstri">
          <ul id="menu">
             <li>@Html.ActionLink("Home", "Index", "Home")<li>
             <li>@Html.ActionLink("About", "About", "Home")</li>
             <li>@Html.ActionLink("Search", "Search", "Dog")</li>

        <li>@Html.ActionLink("Admin", "Manage", "Account")
           <ul>
             <li>@Html.ActionLink("Users", "Users", "Home")</li>
             <li>@Html.ActionLink("Disable user", "DisableUsers", "Administrator")</li>
             <li>@Html.ActionLink("New Data", "Create", "IsicDogManager")</li>
           </ul>
         </li>
        </ul>
    </div>
     
    
     <div class="register">
      @RenderSection("featured", required: false)  
      @Html.Partial("_LoginPartial")             
	</div>

     <div id="content">
       
    @RenderBody()	
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @RenderSection("scripts", required: false)
</body>
</html>

